@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>No matter what type of car you are looking to rent, you can find it here on AutoRental. An economy auto rental to help you save a little extra money? A monthly rental while your car is in the shop? Or maybe a sporty convertible or luxury auto for a weekend getaway? Look no further - Avis and Budget have what you need, including the widest selection and the best auto rental rates. Lock in our lowest prices by reserving your car or van today. If you're looking for a long or short term auto rental, start your comparison shopping with us.</p>
